body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.todo-heading {
    text-align: center;
    margin-top: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 40px; 
}

.toDo,
.todo-date {
    font-size: 15px;
    padding: 10px 5px;
    text-align: center;
    cursor: pointer;
}

.todo-button {
    color: white;
    background-color: green;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor: pointer;
}

.display-button {
    color: white;
    background-color: rgb(163, 12, 12);
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor: pointer;
}

.todo-container {
    margin-top: 30px;
    text-align: center;
}

.item-h3{
    font-family: Arial, Helvetica, sans-serif;
}
