.box {
    border: 1px solid black;
    height: 500px;
    width: 400px;
    border-radius: 3px;
    background-color: black;
}

.dis {
    border: 2px solid black;
    height: 40px;
    margin: 20px;
    width: 85%;
    font-size: 40px;
    text-align: center;
    border-radius: 3px;
    background-color: skyblue;
}

.button {
    width: 120px;
    height: 60px;
    margin: 2px 5px;
    font-size: 40px;
    border-radius: 100px;
    background-color: orange;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}